

.make-animation {
    margin-left: auto; 
    margin-right: auto;
    height: 1000px;
    width: 1000px;
    min-height: 100px;
    min-width: 100px;
    position: relative;
}

.circle {
    height: 300px;
    width: 300px;
    min-height: 20px;
    min-width: 20px;
    background-color: #c95353;
    border-radius: 150px;
    position: absolute;
    animation: moviment 8s linear infinite;
}
.semi1 {
    height: 100%;
    width: 50%;
    border-radius: 150px 0 0 150px;
    background-color: #52c765;
}
@keyframes moviment {
    0%{
        bottom: 50%;
        right: 50%;
    }
    80%{
        transform: rotate(4.5turn);
        bottom: 50%;
        right: 50%;
    }
    100%{
        bottom: 50%;
        right: 50%;
    }
}

/*Fondo
header {
    display: flex;
    position: relative;
    height: 777px;
    width: 777px;
    text-align: center;
}

.obj1 {
    min-height: 100%;
    width: 5%;
    background-color: rgb(189, 78, 78);
    transform: rotate(135deg);
    position: absolute;
    animation: movlin1 8s linear infinite;
}

.obj2 {
    height: 100%;
    width: 5%;
    background-color: rgb(182, 113, 57);
    transform: rotate(135deg);
    position: absolute;
    animation: movlin2 8s linear infinite;
}

.obj3 {
    height: 5%;
    width: 100%;
    background-color: rgb(79, 172, 125);
    transform: rotate(45deg);
    position: absolute;
    animation: movlin3 8s linear infinite;
}

.obj4 {
    height: 5%;
    width: 100%;
    background-color: rgb(63, 72, 196);
    transform: rotate(135deg);
    position: absolute;
    animation: movlin4 8s linear infinite;
}

@keyframes movlin1 {
    0% {
        right: 50%;
    }
    20%{
        transform: rotate(0deg);
    }
    30%{
        transform: rotate(0deg);
        right: 50%:
    }
    40%{
        right: 50%;
    }
    50%{
        right: 0;
    }
    60%{
    }
    80%{
        transform: rotate(0deg);
        right: 50%;
    }
    100%{
        transform: rotate(-45deg);
    }
}*/


/*
@keyframes movlin2 {
    0%{
        right: 0;
    }
    33% {
        right: 980px;
    }
    66% {
        left: 0;
    }
    100%{
        left: 980px;
    }
}

@keyframes movlin1 {
    0%{
        left: 0;
    }
    33%{
        left: 980px;
    }
    66%{
        right: 0;
    }
    100%{
        right: 980px;
    }
}
*/